<div class="container" *ngIf="!user">
  <div class="row">
    <div class="col-md-12">
      <h1 i18n="Start page Headline">Examination administration for martial arts clubs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" i18n="Body of the start page">
      <p><b>Welcome to our exam admin!</b><br/>
        What is this all about?<br>
        This is a progressive web app for administrating martial arts exams. You can:
        <li>Create martial arts</li>
        <li>Create exams</li>
        <li>Create user accounts</li>
        <li>Users can register themselfs as participants for an existing exam</li>
        <li>Examiners can upload exam results and upload a protocol for each user</li></p>
    </div>
  </div>
</div>
<div class="container" *ngIf="user">
  <app-dashboard [user]="user"></app-dashboard>
</div>