<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 i18n="Headline">Martial Arts</h1>
    </div>
  </div>
  <div *ngIf="martialArts" class="row">
    <div class="col-sm">
      <div *ngFor="let ma of martialArts">
        <div class="card shadow">
          <div class="card-header bg-dark">
            <button class="btn btn-link" (click)="ma.isHidden = !ma.isHidden">
              <b>{{ma.styleName}} {{ma.name}}</b>
            </button>
          </div>
          <div class="card-body" *ngIf="!ma.isHidden">
            <div class="row">
              <div class="col">
                <p>{{ma.description.substr(0,200)}}(...)</p>
              </div>
              <div class="col">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th i18n="Martial Arts Component">Examiner Name</th>
                      <th i18n="Martial Arts Component">Examiner Rank</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let examiner of ma['examiners']">
                      <td>{{examiner.firstName}} {{examiner.lastName}}</td>
                      <td>{{examiner.martialArts[0].rankName}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
                <button class="btn btn-success" (click)="showDetails(ma)" i18n>Details</button>
                <div>
                  <button class="btn btn-warning" (click)="showEdit(ma)" i18n>Edit</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!martialArts">
    <div class="row">
      <div class="col">
        <b>Loading...</b>
      </div>
    </div>
  </div>
</div>
