<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Martial Arts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div *ngFor="let ma of martialArts">
        <div class="row">
          <div class="col">
            <h2>{{ma.styleName}} {{ma.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Examiner Name</th>
                  <th>Examiner Rank</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let examiner of ma['examiners']">
                  <td>{{examiner.firstName}} {{examiner.lastName}}</td>
                  <td>{{examiner.martialArts[0].rankName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>