<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 i18n="Headline">Martial Arts</h1>
    </div>
  </div>
  <div *ngIf="isLoaded" class="row">
    <div class="col-sm">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let ma of martialArts">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ma.styleName}} {{ma.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col">
              <p>{{ma.description.substr(0,250)}}(...)</p>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-success" (click)="showDetails(ma)" i18n>Details</button>
            <button class="btn btn-warning" *ngIf="ma.canEdit" (click)="showEdit(ma)" i18n>Edit</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="!isLoaded" class="row">
      <div class="col">
        <b>Loading, please wait...</b>
      </div>
    </div>
  </div>
</div>