<div *ngIf="!editMode">
    <div class="row">
        <div class="col">
            <h1>Martial Art Details</h1>
        </div>
        <div class="col">
            <button class="btn btn-warning pull-right" (click)="showEdit()" i18n>Edit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>{{ma.styleName}} {{ma.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>{{ma.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Examiners:</h3>
        </div>
        <div class="col-sm">
            <button class="btn btn-success pull-right" (click)="openPopup(examinerPopup)">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Rank</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let examiner of ma.examiners">
                        <td>{{examiner.firstName}} {{examiner.lastName}}</td>
                        <td>{{examiner.martialArts[0].rankName}}</td>
                        <td><button class="btn btn-sm btn-danger pull-right" (click)="onRemove(examiner._id)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="alerts">
        <div class="col">
            <ngb-alert [dismissible]="true" [type]="alert.type" *ngFor="let alert of alerts" (close)="close(alert)">
                <p><strong>{{alert.message}}</strong></p>
            </ngb-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>Ranks:</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rank of ma.ranks">
                        <td>{{rank.name}}</td>
                        <td>{{rank.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="editMode">
    <div class="row">
        <div class="col">
            <h1>Martial Art Edit Mode</h1>
            <app-new-martialart [ma]="ma" (cancelEdit)="cancelEdit()"></app-new-martialart>
        </div>
    </div>
</div>
<!-- Add Examiner Popup -->
<ng-template #examinerPopup let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" i18n>Add Examiner</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p i18n>Please enter the email adress of the person you want to add as examiner:</p>
        <form [formGroup]="examinerForm">
            <input class="form-control" type="email" formControlName="email" placeholder="example@localhost.net">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit(); c('Save click')" i18n>Confirm</button>
        <button type="button" class="btn btn-warning" (click)=" c('Save click')" i18n>Cancel</button>
    </div>
</ng-template>