<div class="row">
    <div class="col">
        <h1 *ngIf="!ma" i18n="Headline">Create a new martial art</h1>
        <hr />
        <form [formGroup]="form">
            <div class="row">
                <div class="col-2" i18n>
                    <p>Martial Art Name:</p>
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" formControlName="name" placeholder="Karate">
                    <div *ngIf="!maName.valid && maName.touched" class="alert alert-danger" role="alert" i18n>
                        Please choose a name for this martial art!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2" i18n>
                    Style Name:
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" formControlName="styleName" placeholder="Shotokan">
                    <div *ngIf="!styleName.valid && styleName.touched" class="alert alert-danger" role="alert" i18n>
                        Please choose a style name for this martial art!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2" i18n>
                    Description:
                </div>
                <div class="col-10">
                    <textarea class="form-control" type="text" rows="6" formControlName="description"
                     i18n-placeholder placeholder="Tell us something about this martial art!"></textarea>
                    <div *ngIf="!description.valid && description.touched" class="alert alert-danger" role="alert" i18n>
                        Please choose a description for this martial art!
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-8">
                    <h2 i18n>How many ranks do you want to add?</h2>
                </div>
                <div class="col-2">
                    <input class="form-control" type="number" formControlName="rankCount">
                </div>
                <div class="col-2">
                    <button mat-raised-button color="primary" class="mat-btn pull-right" (click)="setupRanks()" i18n="Button"><mat-icon>add</mat-icon> Add Ranks</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p i18n>You can add as many ranks as you need.</p>
                </div>
            </div>
            <hr/>
            <div *ngIf="rankCount.value && showRanks || ma" formArrayName="ranks">
                <div class="row">
                    <div class="col-sm">
                        <h2 i18n>Ranks</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" i18n>
                        <p><b>Hints:</b> Ranks are sortet from lowest to highest. You should stick to this order to avoid errors.<br/>
                        You can rearrange items with drag and drop!</p>
                    </div>
                </div>
                <div style="cursor: pointer;" cdkDropList (cdkDropListDropped)="drop($event)">
                    <div cdkDrag *ngFor="let rank of ranks.controls; let i = index" [formGroupName]="i" class="shadow-sm">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <input class="form-control" type="text" formControlName="name" [value]="rank.name">
                                <input class="form-control" type="number" formControlName="number" step="0" [value]="rank.number" hidden>
                            </div>
                            <div class="col-2">
                                <button mat-icon-button color="warn" class="mat-icon-warn" (click)="removeRank(i)"><mat-icon>delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button *ngIf="!ma" mat-raised-button color="primary" class="mat-btn pull-right" (click)="onSubmit()" i18n="Button"><mat-icon>send</mat-icon> Create</button>
                    <div *ngIf="ma">
                        <button mat-raised-button color="primary" class="mat-btn" (click)="onUpdate()" i18n="Button"><mat-icon>update</mat-icon> Update</button>
                        <button mat-raised-button color="warn" class="mat-btn-warn pull-right" (click)="onCancel()" i18n="Button"><mat-icon>cancel</mat-icon> Cancel</button>
                        <button mat-raised-button color="warn" class="mat-btn-warn pull-right" (click)="openPopup(deletePopup)" i18n="Button"><mat-icon>delete</mat-icon> Delete</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="alerts">
            <div class="col">
                <ngb-alert [dismissible]="true" [type]="alert.type" *ngFor="let alert of alerts" (close)="close(alert)">
                    <p><strong>{{alert.message}}</strong></p>
                </ngb-alert>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Popup -->
<ng-template #deletePopup let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" i18n="Popup Headline">Delete Martial Art</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p i18n>Do you really want to delete this martial art?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="onDelete(); c('Save click')" i18n="Button">Confirm Delete</button>
      <button type="button" class="btn btn-success" (click)=" c('Save click')" i18n="Button">Cancel</button>
    </div>
  </ng-template>
<br /><br />