<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 i18n>My Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3 i18n>Personal data:</h3>
      <form>
        <div class="row">
          <div class="col-sm">
            <div class="row">
              <div class="col-sm">
                <label for="firstName" i18n>First Name:</label>
              </div>
              <div class="col-sm">
                <input class="form-control" type="text" placeholder="{{user.firstName}}" name="firstName">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="lastName" i18n>Last Name:</label>
              </div>
              <div class="col-sm">
                <input class="form-control" type="text" placeholder="{{user.lastName}}" name="lastName">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="email" i18n>E-Mail:</label>
              </div>
              <div class="col-sm">
                <input class="form-control" type="text" placeholder="{{user.email}}" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="oldPassword" i18n>Old Password:</label>
              </div>
              <div class="col-sm">
                <input class="form-control" type="password" placeholder="old password" id="oldPassword"
                  name="oldPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="newPassword" i18n>New Password:</label>
              </div>
              <div class="col-sm">
                <input class="form-control" type="password" placeholder="new password" id="password" name="newPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="repeatPassword" i18n>Repeat Password:</label>
              </div>
              <div class="col-sm">
                <input class="form-control" type="password" placeholder="confirm new password" id="password2"
                  name="repeatPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <input class="form-control" type="submit" value="Change!" class="btn btn-sm btn-primary">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <!--div class="row">
        <div class="col-8">
          <h4 i18n>Your Clubs:</h4>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-sm btn-success" (click)="openPopup(clubPopup)">Add</button>
        </div>
      </div>
      <div class="row" *ngFor="let club of user.clubs">
        <div class="col-sm">
          <a href="/user/#">{{club.club.name}}</a>
        </div>
      </div>
      <hr-->
      <div class="row">
        <div class="col-8">
          <h4 i18n>Your Martial Arts:</h4>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-sm btn-success" (click)="openPopup(maPopup)">Add</button>
        </div>
      </div>
      <div *ngFor="let martialArt of user.martialArts" class="row">
        <div class="col-8">
          <a class="link" (click)="showMaDetails(martialArt._id)">{{martialArt._id.styleName}} {{martialArt._id.name}}</a>
        </div>
        <div class="col-4">
          <b>{{martialArt.rankName}}</b>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="alerts">
    <div class="col">
      <ngb-alert [dismissible]="true" [type]="alert.type" *ngFor="let alert of alerts" (close)="close(alert)">
        <p><strong>{{alert.message}}</strong></p>
      </ngb-alert>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <h4 i18n>Exam Results:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="examResults.length">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th i18n>Martial Art</th>
            <th i18n>Rank</th>
            <th i18n>Result</th>
            <th i18n>Date</th>
            <th i18n>Protocol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of examResults">
            <th>{{result.martialArt.styleName}} {{result.martialArt.name}}</th>
            <th>{{result.rank}}</th>
            <th *ngIf="result.passed" i18n>passed</th>
            <th *ngIf="!result.passed" i18n>failed</th>
            <th>{{result.date}}</th>
            <th><a class="btn btn-sm btn-warning" (click)="downloadFile(result.reportUri, null)" i18n>download</a></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" *ngIf="!examResults.length">
      <b i18n>Sorry, but you don't have any exam results yet!</b>
    </div>
  </div>
</div>

<!-- Popup form for adding a new club to the user profile -->
<ng-template #clubPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n>Add a Club</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p i18n>Hello, {{user.firstName}}!<br>
      Here you can add a new club to your profile, if you want!</p>
    <form [formGroup]="clubForm">
      <div class="form-group">
        <label i18n>Club list</label>
        <select class="form-control" formControlName="clubId">
          <option *ngFor="let club of clubs" [value]="club._id">{{club.name}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onClubSubmit(); c('Save click')" i18n>Add Club</button>
  </div>
</ng-template>

<!-- A popup form for adding a new martial art to the user profile -->
<ng-template #maPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n>Add a Martial Art</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p i18n>Hello, {{user.firstName}}!<br>
      Here you can add a new martial art to your profile, if you want!</p>
    <form [formGroup]="maForm">
      <select class="form-control" formControlName="maId">
        <option *ngFor="let ma of martialArts let i = index" [value]="i">{{ma.styleName}} {{ma.name}}</option>
      </select>
      <select class="form-control" formControlName="rankName">
        <option *ngFor="let rank of martialArts[maId.value].ranks" [value]="rank.name">{{rank.name}}</option>
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onMaSubmit(); c('Save click')" i18n>Add Martial Art</button>
  </div>
</ng-template>