<div class="container bg-light">
  <div class="row">
    <div class="col-md-12">
      <h1>My Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Personal data:</h3>
      <form>
        <div class="row">
          <div class="col-sm">
            <div class="row">
              <div class="col-sm">
                <label for="firstName">First Name:</label>
              </div>
              <div class="col-sm">
                <input type="text" placeholder="{{user.firstName}}" name="firstName">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="lastName">Last Name:</label>
              </div>
              <div class="col-sm">
                <input type="text" placeholder="{{user.lastName}}" name="lastName">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="email">E-Mail:</label>
              </div>
              <div class="col-sm">
                <input type="text" placeholder="{{user.email}}" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="oldPassword">Old Password:</label>
              </div>
              <div class="col-sm">
                <input type="password" placeholder="old password" id="oldPassword"  name="oldPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="newPassword">New Password:</label>
              </div>
              <div class="col-sm">
                <input type="password" placeholder="new password" id="password" name="newPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="repeatPassword">Repeat Password:</label>
              </div>
              <div class="col-sm">
                <input type="password" placeholder="confirm new password" id="password2" name="repeatPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <input type="submit" value="Change!" class="btn btn-sm btn-primary">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-8">
          <h4>Your Clubs:</h4>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-sm btn-success">Add</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a href="/user/#">{{user.clubs[0].club.name}}</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-8">
          <h4>Your Martial Arts:</h4>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-sm btn-success">Add</button>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <a href="/user/#">{{user.martialArts[0].styleName}} {{user.martialArts[0].name}}</a>
        </div>
        <div class="col-4">
          <b>{{user.martialArts[0].ranks[0].name}}</b>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <h4>Exam Results:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Martial Art</th>
            <th>Rank</th>
            <th>Result</th>
            <th>Date</th>
            <th>Protocol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of examResults">
            <th>{{result.martialArt.styleName}} {{result.martialArt.name}}</th>
            <th>{{result.rank}}</th>
            <th *ngIf="result.passed">passed</th>
            <th *ngIf="!result.passed">failed</th>
            <th>{{result.date}}</th>
            <th><a href="{{result.reportUri}}">download</a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>