<div class="mat-typography">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="userForm">
                        <h1 class='mv3' i18n>{{login ? 'Login' : 'Sign Up'}}</h1>
                        <div class='flex flex-column'>
                            <input *ngIf="!login" formControlName="firstName" type="text" i18n-placeholder placeholder="Your first name">
                            <input *ngIf="!login" formControlName="lastName" type="text" i18n-placeholder placeholder="Your last name">
                            <input formControlName="email" type="text" i18n-placeholder placeholder="Your email address">
                            <input formControlName="password" type="password" i18n-placeholder placeholder="Password">
                            <div *ngIf="email.invalid && email.touched" class="alert alert-danger" i18n>
                                Please type in a correct email!
                            </div>
                            <div *ngIf="password.invalid && password.touched" class="alert alert-danger" i18n>
                                You need to type in your password...
                            </div>
                        </div>
                        <div class='flex mt3'>
                            <button *ngIf="login" mat-raised-button color="primary" class="mat-btn" (click)="confirm()" i18n="Login Button">Login</button>
                            <button *ngIf="!login" mat-raised-button color="primary" class="mat-btn" [disabled]="disableSignup" (click)="confirm()" i18n="SignUp Button">Create Account</button>
                            <br>
                            <button *ngIf="login" mat-raised-button color="primary" class="mat-btn" (click)="login = !login" i18n="Login Mode">Need to create an account?</button>
                            <button *ngIf="!login" mat-raised-button color="primary" class="mat-btn" (click)="login = !login" i18n="SignUp Mode">Already have an account?</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="alerts">
      <div class="col">
        <ngb-alert [dismissible]="true" [type]="alert.type" *ngFor="let alert of alerts" (close)="close(alert)">
          <p><strong>{{alert.message}}</strong></p>
        </ngb-alert>
      </div>
    </div>
    
</div>