<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-8">
                <h1 i18n="Headline">Exam Details</h1>
            </div>
            <div class="col -4" *ngIf="exam.examiner._id == user._id">
                <button class="btn btn-warning" (click)="editExam=true" style="float: right" i18n="Button">Edit</button>
            </div>
        </div>
        
        <div *ngIf="!editExam">
            <div class="row">
                <div class="col-sm">
                    <b>{{exam.title}}</b>
                    <p>{{exam.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <b>{{exam.martialArt.styleName}} {{exam.martialArt.name}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" i18n>
                    Registration End Date:
                </div>
                <div class="col-sm">
                    {{exam.regEndDate}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm" i18n>
                    Exam Date:
                </div>
                <div class="col-sm">
                    {{exam.examDate}}
                </div>
            </div>
            <!--div class="row">
                <div class="col-sm" i18n>
                    Club:
                </div>
                <div class="col-sm">
                    {{exam.club.name}}
                </div>
            </div-->
            <div class="row">
                <div class="col-sm" i18n>
                    Address:
                </div>
                <div class="col-sm">
                    {{exam.examPlace}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm" i18n>
                    Examiner:
                </div>
                <div class="col-sm">
                    {{exam.examiner.firstName}} {{exam.examiner.lastName}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm" i18n>
                    Price:
                </div>
                <div class="col-sm">
                    {{exam.price}}
                </div>
            </div>
            <div class="row">
              <div class="col-sm" i18n>
                Minimum Rank:
              </div>
              <div *ngIf="exam.minRank" class="col-sm">
                {{rank.name}}
              </div>
              <div *ngIf="!exam.minRank || exam.minRank == null || exam.minRank == '' " class="col-sm">
                <p i18n>No minimum rank</p>
              </div>
            </div>
            {{exam.minRank | json}}
            <div class="row">
                <div class="col-sm">
                    <button *ngIf="!hasCheckedIn && canRegister && !isExaminer" class="btn btn-success" (click)="onCheckIn()" i18n="Button">Sign in</button>
                    <button *ngIf="hasCheckedIn && canRegister && !isExaminer" class="btn btn-warning" (click)="onCheckOut()" i18n="Button">Sign out</button>
                    <p *ngIf="isExaminer" i18n><b>Hello, examiner! You can see your participants listed below.</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p *ngIf="!canRegister"><b i18n>I'm sorry, but you do not have the required minimum rank.</b></p>
                </div>
            </div>
            <div *ngIf="exam.examiner._id == user._id">
                <div class="row">
                    <div class="col-sm">
                        <b i18n>Participants:</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" *ngIf="exam.participants">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th i18n>Name</th>
                                    <th i18n>Rank</th>
                                    <!--th>Exam Result</th-->
                                </tr>
                            </thead>
                            <tbody *ngFor="let user of exam.participants">
                                <tr>
                                    <td>{{user.firstName}} {{user.lastName}}</td>
                                    <td *ngIf="user.martialArts[0]">{{user.martialArts[0].name}}</td>
                                    <td *ngIf="!user.martialArts[0]" i18n>no rank</td>
                                    <!--td><button class="btn btn-success" i18n="Button">Add</button></td-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm" *ngIf="!exam.participants">
                        <b i18n>No participants found.</b>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="editExam">
        <form [formGroup]="examForm">
            <div class="row">
                <div class="col-sm">
                    <input formControlName="title" class="form-control" type="text">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <textarea formControlName="description" class="form-control" rows="4" cols="50"></textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm" i18n>
                    Martial Art:
                </div>
                <div class="col-sm">
                    {{exam.martialArt.styleName}} {{exam.martialArt.name}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm" i18n>
                    Registration End Date:
                </div>
                <div class="col-sm">
                    <input formControlName="regEndDate" class="form-control" type="text">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm" i18n>
                    Exam Date:
                </div>
                <div class="col-sm">
                    <input formControlName="examDate" class="form-control" type="text">
                </div>
            </div>
            <hr>
            <!--div class="row">
                <div class="col-sm" i18n>
                    Club:
                </div>
                <div class="col-sm">
                    <select formControlName="club" class="form-control">
                        <option *ngFor="let club of clubs" [value]="club._id" >{{club.name}}</option>
                    </select>
                </div>
            </div-->
            <hr>
            <div class="row">
                <div class="col-sm" i18n>
                    Address:
                </div>
                <div class="col-sm">
                    <input formControlName="examPlace" class="form-control" type="text">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm" i18n>
                    Price:
                </div>
                <div class="col-sm">
                    <input formControlName="price" class="form-control" type="number">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-success" (click)="onUpdate()" i18n="Button">Update</button>
                    <button class="btn btn-danger" (click)="openPopup(deletePopup)" i18n="Button">Delete</button>
                    <button class="btn btn-warning" (click)="editExam=false" i18n="Button">Cancel</button>
                </div>
            </div>
        </form>
        </div>
        <div class="row" *ngIf="alerts">
            <div class="col">
              <ngb-alert [dismissible]="true" [type]="alert.type" *ngFor="let alert of alerts" (close)="close(alert)">
                <p><strong>{{alert.message}}</strong></p>
              </ngb-alert>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Popup -->
<ng-template #deletePopup let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" i18n="Popup Headline">Delete Exam</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p i18n>Do you really want to delete this exam?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="onDelete(); c('Save click')" i18n="Popup Button">Confirm Delete</button>
      <button type="button" class="btn btn-success" (click)=" c('Save click')" i18n="Popup Button">Cancel</button>
    </div>
  </ng-template>