<div class="row">
  <div class="col-sm">
    <h1 i18n>Exams</h1>
  </div>
  <div class="col-sm">
    <button class="btn btn-primary" (click)="showPlanned = !showPlanned">{{showPlanned ? 'Show my previously created exams' : 'Show upcomming exams'}}</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="accordion" *ngFor="let result of plannedExams">
      <div class="card shadow">
        <div class="card-header bg-dark" id="headingOne">
          <div class="row">
            <div class="col-sm">
              <button class="btn btn-link" (click)="result.isHidden = !result.isHidden">
                <b class="card-title">{{result.title}}</b>
              </button>
            </div>
            <div class="col-sm align-middle">
              <b>{{result.examDate}}</b>
            </div>
          </div>
        </div>
        <div *ngIf="!result.isHidden">
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <b i18n>Martial Art:</b>
              </div>
              <div class="col-sm">
                <b>{{result.martialArt.styleName}} {{result.martialArt.name}}</b>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <b i18n>Registration End Date:</b>
              </div>
              <div class="col-sm">
                {{result.regEndDate}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <b i18n>Exam Date:</b>
              </div>
              <div class="col-sm">
                {{result.examDate}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <b i18n>Club:</b>
              </div>
              <div class="col-sm">
                {{result.club.name}}<br>
                {{result.examPlace}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <b i18n>Examiner:</b>
              </div>
              <div class="col-sm">
                {{result.examiner.firstName}} {{result.examiner.lastName}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <b i18n>Price:</b>
              </div>
              <div class="col-sm">
                20.00 €
              </div>
            </div>
            <div class="row">
                <button class="btn btn-success" (click)="showDetails(result)" i18n>Details</button>
                <div *ngIf="result.examiner._id == user._id">
                  <button class="btn btn-warning" (click)="showEdit(result)" i18n>Edit</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>