/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100%;
}
.container {
   margin-bottom: 50px;
   min-height: 80%;
   background-color: whitesmoke;
}
footer {
    max-height: 50px;
}
.bg-dark {
    color: white; //Text Color
}
button {
    margin: 5px;
}
// Custom round  buttons. Code Snippets from: https://www.geeksforgeeks.org/how-to-get-circular-buttons-in-bootstrap-4/
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 
@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .container{
        width: 100%;
    }
    button {
        margin: 0;
    }
}